<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout-web}">
<head><title>Product Detail</title></head>
<body>
<div layout:fragment="content">
    <h2>Product Detail</h2>
    <p><b>ID:</b> <span th:text="${product.id}"></span></p>
    <p><b>Name:</b> <span th:text="${product.name}"></span></p>
    <p><b>Price:</b> $<span th:text="${product.price}"></span></p>
    <p><b>Category:</b> <span th:text="${product.category.name}"></span></p>
    <p>
        <b>Image:</b><br/>
        <img th:if="${product.image != null}" th:src="@{'/uploads/' + ${product.image}}" width="200"/>
    </p>
    <a href="/products" class="btn btn-secondary">Back</a>
</div>
</body>
</html>
